In [222]:
import pandas as pd

df = pd.read_csv("data/prf_uchazeci.csv")
len(df)

4932

In [226]:
len(df.loc[df["CIS_OBORU"].isna() | df["STRED_SKOLA_CIZI_OBOR"].notna()])

611

In [219]:
df.columns

Index(['FAKULTA_SP', 'ROK_NAR', 'STAT_OBCANSTVI', 'PSC_BYDL', 'PSC_CIZI',
       'OBEC_BYDLISTE', 'OBEC_CIZI', 'STAT_BYDLISTE', 'NAZEV_S_SKOLY',
       'STAT_S_SKOLY', 'ADRESA_S_SKOLY', 'CIS_OBORU', 'MATURITA',
       'STRED_SKOLA_CIZI', 'STRED_SKOLA_CIZI_MISTO', 'STRED_SKOLA_CIZI_OBOR',
       'VS_SKOLA', 'NAZEV_VS', 'STAT_VS', 'VS_ROK_ABSOL', 'ROK_PR', 'CISP_KOD',
       'CZ_NAZEV', 'FORMA', 'TYP', 'PR_NAZEV', 'PR_OBOR', 'PR_KOMBINACE',
       'SDRUZENE'],
      dtype='object')

In [215]:
import requests
from io import StringIO

url = "https://ws.ujep.cz/ws/services/rest2/ciselniky/getCiselnik"

vars = {
    "domena": "OBOR_SS",
    "outputFormat": "CSV",
    "outputFormatEncoding": "UTF-8",
    }


response = requests.get(url, params=vars)

ciselnik = pd.read_csv(StringIO(response.text), sep=";")

ciselnik.head()

,domena,zkratka,nazev,key,poradi
0,OBOR_SS,NaN,"Admin.-výr.obuvi,gal.zb. (3244M004)",3244M004,999
1,OBOR_SS,NaN,Administrativa a ekonomika pro podnikání (6341...,6341N29,999
2,OBOR_SS,NaN,Agropodnikání (4141L501),4141L501,999
3,OBOR_SS,NaN,Agropodnikání (4141M001),4141M001,999
4,OBOR_SS,NaN,Agropodnikání (4141M01),4141M01,999

In [221]:
merged_df = df.merge(ciselnik, left_on="CIS_OBORU", right_on="key")

len(merged_df)

4321

In [198]:
# drpopna on cis_oboru


# df.dropna(subset=["CIS_OBORU"], inplace=True)

print(len(df))
print(df.columns)

4932
Index(['FAKULTA_SP', 'ROK_NAR', 'STAT_OBCANSTVI', 'PSC_BYDL', 'PSC_CIZI',
       'OBEC_BYDLISTE', 'OBEC_CIZI', 'STAT_BYDLISTE', 'NAZEV_S_SKOLY',
       'STAT_S_SKOLY', 'ADRESA_S_SKOLY', 'CIS_OBORU', 'MATURITA',
       'STRED_SKOLA_CIZI', 'STRED_SKOLA_CIZI_MISTO', 'STRED_SKOLA_CIZI_OBOR',
       'VS_SKOLA', 'NAZEV_VS', 'STAT_VS', 'VS_ROK_ABSOL', 'ROK_PR', 'CISP_KOD',
       'CZ_NAZEV', 'FORMA', 'TYP', 'PR_NAZEV', 'PR_OBOR', 'PR_KOMBINACE',
       'SDRUZENE'],
      dtype='object')

Obory

In [199]:
url8 = "https://vysledky.cermat.cz/data/PrehledOboruKKOV.aspx"
url7 = "https://vysledky.cermat.cz/data/PrehledOboruNV.aspx"

df_obory8 = pd.read_html(url8, encoding="utf-8")[1]
df_obory7 = pd.read_html(url7, encoding="utf-8")[1]

df_obory = pd.concat([df_obory8, df_obory7])

obory = df_obory["KKOV"].unique()

In [200]:
for kod in df["CIS_OBORU"]:
    if kod not in obory:
        print(kod)

nan
nan
2643L502
nan
3646M001
nan
6542N001
7241N02
6542M012
nan
nan
6543N01
5341M001
nan
2844M001
7941K001
nan
nan
nan
6341M001
2844M009
nan
7941K001
3641M003
7531N03
7941K001
6341M020
6342M001
5343M001
7941K001
6941L004
7941K001
nan
nan
7941K001
nan
nan
2844M003
2844M004
7941K411
6442M021
2844M001
7941K001
2641L507
6441L521
2644L001
7941K701
0097J001
7941K004
2647N04
7941K001
6441L521
7941K003
nan
nan
nan
nan
nan
2844M001
nan
nan
nan
7941K405
6431N07
2647N13
7941K004
2345M005
7941K001
2647N13
2645M002
2652H001
2644L001
2642M003
7941K001
2647N19
2631N009
nan
2645L001
2643M004
2643M004
2647N01
nan
nan
nan
6842N04
nan
6842N04
nan
2647N16
nan
2641L505
nan
nan
nan
nan
nan
7941K001
nan
nan
2844M001
nan
7941K001
nan
nan
nan
7941K411
2844M002
nan
nan
nan
nan
4145L501
2646M005
2641N05
nan
2945M003
2945M003
2844M002
7941K408
6842N08
2844M004
6842N04
nan
nan
nan
6843M003
6442M036
7942K001
2341N004
3741N03
6842N04
nan
7531N03
nan
8241N05
6543N01
nan
nan
nan
nan
7941K001
2844M001
nan
2844M001
2843M001
2844M004
2844M002
nan
4341M002
2844M001
2844M001
nan
7941K404
nan
nan
nan
3741L506
7941K001
6341L503
7531N03
2844M001
5341M001
nan
6342M001
nan
7942K001
2844M003
6341M030
2643N001
7941K001
7941K004
7941K701
0097J001
6441L521
3641M003
7941K402
7941K404
7941K001
nan
nan
nan
nan
2644L001
2844M001
7941K405
2844M002
nan
2631N004
6341M005
2647N16
nan
6442L507
2643L502
2644M001
7941K805
2642N001
2656H001
7941K009
2345L002
7941K001
6442M032
2631N003
7941K001
6442M036
2647N04
2643L502
6941L004
nan
6842N01
7531N03
2647N04
2647M007
nan
2641N03
2647N04
nan
nan
7941K501
nan
nan
nan
nan
2647N04
nan
2647N04
2647N04
nan
nan
2631N003
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
2844M001
nan
nan
nan
3645L004
2646M005
nan
nan
nan
nan
nan
nan
nan
nan
6542M005
nan
nan
nan
nan
nan
nan
nan
nan
6843N005
nan
2647M007
nan
7941K411
2656H001
7941K004
6441L521
7941K701
nan
2844M001
2844M003
6443M005
2656H001
nan
3645L004
nan
7941K001
0097J001
6341M030
7941K802
6442M036
nan
4141L501
7941K701
2841J001
2844M001
nan
2844M002
5343M001
2647N24
2647N24
2945M003
2842L014
nan
nan
2844M001
nan
nan
nan
nan
6842N04
nan
nan
7941K020
nan
nan
6543N01
4341M002
nan
3941M003
nan
nan
nan
nan
8241N05
nan
2647N16
nan
nan
nan
nan
nan
2642N001
2645L001
7941K001
3641M003
8241M052
nan
2647N16
7531N03
nan
nan
nan
nan
nan
7941K001
nan
nan
nan
6431N01
nan
6341M001
7941K001
2643M004
2643M004
nan
2652H001
2644M001
2644L001
3741M004
7941K008
3941J001
nan
2647N16
2647N04
nan
nan
2647N05
2647N01
nan
nan
nan
2647N01
nan
7941K001
nan
nan
nan
2844M008
5343M001
7941K404
2844M005
2844M001
nan
7941K001
2844M005
7941K001
nan
2647N24
2844M008
nan
6842N08
nan
nan
nan
6341M005
4341M002
nan
nan
nan
nan
2844M001
8241M052
7941K001
nan
nan
nan
2931N004
nan
2844M001
nan
nan
nan
nan
nan
7541M007
nan
nan
nan
7541M007
7941K020
nan
nan
nan
nan
nan
6341N29
nan
nan
2647N01
nan
6442M036
7241N003
nan
nan
nan
nan
nan
nan
nan
2647N01
nan
nan
nan
nan
nan
7941K420
nan
6941L004
nan
6441L521
nan
2845M001
7941K404
nan
7941K411
5341M006
2645M003
7941K008
7941K004
2141M002
7941K001
7941K001
7941K403
6541L501
6442L511
0097J001
2655H005
6843N005
nan
6431N07
2644M001
nan
nan
7531N03
3941M003
6542N001
7942K001
7941K001
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
2844M001
2844M001
7941K411
2945M003
nan
nan
nan
2945M003
nan
2844M001
nan
nan
nan
nan
nan
nan
nan
nan
2844M001
nan
nan
2844M001
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
6431N07
7941K004
nan
nan
nan
nan
nan
nan
nan
nan
7541M007
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
8243N01
nan
nan
nan
nan
nan
4341M002
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
7941K004
7941K001
2341N02
2631N009
2643M004
nan
nan
nan
nan
nan
6431N011
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
2645L001
6542M012
nan
nan
6542N01
nan
nan
7941K001
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
2341N02
2844M001
6442M036
2647N05
2647N01
nan
nan
nan
6843M005
nan
nan
nan
nan
nan
nan
nan
nan
2647N05
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
2647N05
nan
nan
2647N04
nan
nan
nan
nan
nan
nan
nan
nan
nan
2647N04
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
2647N16
6341M015
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
2643M004
nan
7941K001
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
4145M001
6441L521
nan
nan
2844M003
nan
nan
7941K004
nan
0097J001
5341M006
3741L506
7941K004
6431N09
7941K001
6541L501
6843N06
7941K403
nan
7941K413
7941K702
6542N001
6542N001
4146M002
5344N002
5341M001
nan
nan
nan
2844M001
nan
nan
nan
nan
nan
nan
nan
nan
2844M001
nan
nan
nan
nan
5341N11
5341M001
nan
nan
2844M001
2844M001
nan
nan
2844M001
2844M001
nan
2844M002
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
7531N03
2341N004
nan
nan
nan
nan
7541M007
nan
nan
nan
nan
nan
8246M002
nan
nan
nan
nan
nan
nan
6543N01
nan
nan
2844M001
nan
nan
nan
7941K011
2631N009
nan
2647N16
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
2647N01
nan
2647N01
2643M007
nan
nan
6341M005
2341N02
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
2647N05
nan
2647N16
nan
2647N01
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
2647N05
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
2647N04
2631N009
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
2644M001
nan
2642M002
nan
nan
2844M001
nan
nan
nan
2647N04
nan
nan
nan
2647N04
nan
nan
nan
nan
nan
nan
nan

In [201]:
# merge on kkov on df_obory and cis_oboru on df

merged_df = df.merge(df_obory, left_on="CIS_OBORU", right_on="KKOV")

merged_df["ZKRATKA OBOROVÉ SKUPINY"].unique()

array(['SHU', 'GY4', 'GY8', 'LYC', 'GY6', 'ST1', 'SEK', 'NOS', 'SHP',
       'ST2', 'SZE', 'SZD', 'SUM', 'NTE', 'UTE', 'UOS'], dtype=object)

In [202]:
print(merged_df["ZKRATKA OBOROVÉ SKUPINY"].value_counts())

# sum counts

merged_df["ZKRATKA OBOROVÉ SKUPINY"].value_counts().sum()

ZKRATKA OBOROVÉ SKUPINY
GY4    1386
ST1     769
GY8     656
LYC     270
SEK     150
SZE     141
SHU     122
SHP      99
SZD      98
GY6      94
ST2      45
NOS      37
SUM      37
UTE      31
NTE      19
UOS      11
Name: count, dtype: int64

3965

In [203]:
merged_df["NÁZEV OBOROVÉ SKUPINY"].value_counts()

# gymp dohormady (4, 6 a 8 lete)
# 7941K41 - chybi nula mezi 4 a 1

NÁZEV OBOROVÉ SKUPINY
GYMNÁZIA 4LETÁ                    1204
SOŠ TECHNICKÉ                      744
GYMNÁZIA 8LETÁ                     530
LYCEA                              221
GYMNÁZIUM 4LETÉ                    182
SOŠ EKONOMICKÉ                     150
SOŠ ZEMĚDĚLSKÉ                     141
GYMNÁZIUM 8LETÉ                    126
SOŠ PEDAGOGICKÉ A HUMANITNÍ        114
SOŠ ZDRAVOTNICKÉ                    98
SOŠ HOTELOVÉ A PODNIKAT.            80
GYMNÁZIA 6LETÁ                      65
LYCEUM                              49
SOŠ TECHNOLOGICKÉ                   42
SOŠ UMĚLECKÉ                        37
GYMNÁZIUM 6LETÉ                     29
NÁSTAVBY OSTATNÍ                    26
SOŠ TECHNICKÉ 1                     25
SOU TECHNICKÁ                       24
NÁSTAVBY TECHNICKÉ                  19
SOŠ HOTELOVÉ A PODNIKATELSKÉ        19
NÁSTAVBY NETECHNICKÉ (OSTATNÍ)      11
SOŠ HUMANITNÍ A PADAGOGICKÉ          8
SOU OSTATNÍ                          8
SOU TECHNICKÉ                        7
SOŠ TECHNICKÉ 2                      3
SOU NETECHNICKÉ (OSTATNÍ)            3
Name: count, dtype: int64

In [204]:
# replace_data = {
#     "7941K41" : "7941K401",
#     "7941K81" : "7941K801",
#     "7531M01" : "7531M001",
#     "7842M04" : "7842M004",
#     "7941K61" : "7941K601",
#     "7842M02" : "7842M002",
#     "7842M03" : "7842M003",
#     "3647M01" : "3647M001",
#     "1601M01" : "1601M001"
# }

# df["CIS_OBORU"].replace(replace_data, inplace=True)

df = df.merge(df_obory, left_on="CIS_OBORU", right_on="KKOV", how="outer")

# print(df[["CIS_OBORU", "STRED_SKOLA_CIZI_OBOR"]])
result = df['STRED_SKOLA_CIZI_OBOR'].notna() | df['CIS_OBORU'].notna()

df = df[result]
print(df[["CIS_OBORU", "STRED_SKOLA_CIZI_OBOR"]])
# df[["CIS_OBORU", "STRED_SKOLA_CIZI_OBOR"]]
print(len(df))
print(df["NÁZEV OBOROVÉ SKUPINY"].value_counts())

     CIS_OBORU STRED_SKOLA_CIZI_OBOR
0      7531M01                   NaN
1      7531M01                   NaN
2      7531M01                   NaN
3      7531M01                   NaN
4      7531M01                   NaN
...        ...                   ...
4927   4145L51                   NaN
4928   8241M06                   NaN
4929   8241M14                   NaN
4930  2343L506                   NaN
4931  2642M002                   NaN

[4782 rows x 2 columns]
4782
NÁZEV OBOROVÉ SKUPINY
GYMNÁZIA 4LETÁ                    1204
SOŠ TECHNICKÉ                      744
GYMNÁZIA 8LETÁ                     530
LYCEA                              221
GYMNÁZIUM 4LETÉ                    182
SOŠ EKONOMICKÉ                     150
SOŠ ZEMĚDĚLSKÉ                     141
GYMNÁZIUM 8LETÉ                    126
SOŠ PEDAGOGICKÉ A HUMANITNÍ        114
SOŠ ZDRAVOTNICKÉ                    98
SOŠ HOTELOVÉ A PODNIKAT.            80
GYMNÁZIA 6LETÁ                      65
LYCEUM                              49
SOŠ TECHNOLOGICKÉ                   42
SOŠ UMĚLECKÉ                        37
GYMNÁZIUM 6LETÉ                     29
NÁSTAVBY OSTATNÍ                    26
SOŠ TECHNICKÉ 1                     25
SOU TECHNICKÁ                       24
NÁSTAVBY TECHNICKÉ                  19
SOŠ HOTELOVÉ A PODNIKATELSKÉ        19
NÁSTAVBY NETECHNICKÉ (OSTATNÍ)      11
SOŠ HUMANITNÍ A PADAGOGICKÉ          8
SOU OSTATNÍ                          8
SOU TECHNICKÉ                        7
SOŠ TECHNICKÉ 2                      3
SOU NETECHNICKÉ (OSTATNÍ)            3
Name: count, dtype: int64

In [205]:
kody = set([])

for kod in df["CIS_OBORU"]:
    if kod not in obory:
        kody.add(kod)

print(len(kody))  
kody

131

{'0097J001',
 '2141M002',
 '2341N004',
 '2341N02',
 '2345L002',
 '2345M005',
 '2631N003',
 '2631N004',
 '2631N009',
 '2641L505',
 '2641L507',
 '2641N03',
 '2641N05',
 '2642M002',
 '2642M003',
 '2642N001',
 '2643L502',
 '2643M004',
 '2643M007',
 '2643N001',
 '2644L001',
 '2644M001',
 '2645L001',
 '2645M002',
 '2645M003',
 '2646M005',
 '2647M007',
 '2647N01',
 '2647N04',
 '2647N05',
 '2647N13',
 '2647N16',
 '2647N19',
 '2647N24',
 '2652H001',
 '2655H005',
 '2656H001',
 '2841J001',
 '2842L014',
 '2843M001',
 '2844M001',
 '2844M002',
 '2844M003',
 '2844M004',
 '2844M005',
 '2844M008',
 '2844M009',
 '2845M001',
 '2931N004',
 '2945M003',
 '3641M003',
 '3645L004',
 '3646M001',
 '3741L506',
 '3741M004',
 '3741N03',
 '3941J001',
 '3941M003',
 '4141L501',
 '4145L501',
 '4145M001',
 '4146M002',
 '4341M002',
 '5341M001',
 '5341M006',
 '5341N11',
 '5343M001',
 '5344N002',
 '6341L503',
 '6341M001',
 '6341M005',
 '6341M015',
 '6341M020',
 '6341M030',
 '6341N29',
 '6342M001',
 '6431N01',
 '6431N011',
 '6431N07',
 '6431N09',
 '6441L521',
 '6442L507',
 '6442L511',
 '6442M021',
 '6442M032',
 '6442M036',
 '6443M005',
 '6541L501',
 '6542M005',
 '6542M012',
 '6542N001',
 '6542N01',
 '6543N01',
 '6842N01',
 '6842N04',
 '6842N08',
 '6843M003',
 '6843M005',
 '6843N005',
 '6843N06',
 '6941L004',
 '7241N003',
 '7241N02',
 '7531N03',
 '7541M007',
 '7941K001',
 '7941K003',
 '7941K004',
 '7941K008',
 '7941K009',
 '7941K011',
 '7941K020',
 '7941K402',
 '7941K403',
 '7941K404',
 '7941K405',
 '7941K408',
 '7941K411',
 '7941K413',
 '7941K420',
 '7941K501',
 '7941K701',
 '7941K702',
 '7941K802',
 '7941K805',
 '7942K001',
 '8241M052',
 '8241N05',
 '8243N01',
 '8246M002',
 nan}