In [64]:
import pandas as pd

# TODO: rok prihlasky minus rok maturity, recyklanti
# TODO: kombinace, sdruzene (maior/minor)
# chybi sdruzene = jednoobor, stary dvouobor (nemel maior/minor)

data = pd.read_csv('data/uchazeci_transformed.csv')
print(data.head())

  FAKULTA_SP  ROK_NAR   STAT_OBCANSTVI  PSC_BYDL PSC_CIZI OBEC_BYDLISTE  \
0        PRF   2000.0  Česká republika         0      NaN    nevyplněno
1        PRF   1999.0  Česká republika         0      NaN    nevyplněno
2        PRF      NaN  Česká republika         0      NaN    nevyplněno
3        PRF   1998.0  Česká republika     41705      NaN          Osek
4        PRF      NaN  Česká republika         0      NaN    nevyplněno

  OBEC_CIZI    STAT_BYDLISTE                             NAZEV_S_SKOLY  \
0       NaN  Česká republika      SŠ pedagogická, hotelnictví a služeb
1       NaN  Česká republika                                 Gymnázium
2       NaN  Česká republika  První české gymnázium v Karlových Varech
3       NaN  Česká republika                  Gymnázium T. G. Masaryka
4       NaN  Česká republika             ZŠ T. G. Masaryka a gymnázium

      STAT_S_SKOLY  ...    CZ_NAZEV FORMA  TYP PR_NAZEV PR_OBOR PR_KOMBINACE  \
0  Česká republika  ...  Matematika     P    B    MA AJ     NaN        MA AJ
1  Česká republika  ...  Matematika     P    B    MA BI     NaN       MA  BI
2  Česká republika  ...  Matematika     P    B    MA BI     NaN       MA  BI
3  Česká republika  ...  Matematika     P    B    MA BI     NaN       MA  BI
4  Česká republika  ...  Matematika     P    B   MA GEO     NaN       MA GEO

  SDRUZENE KOLO_PRIHLASKY                           skupina_oboru  \
0      NaN              1  Pedagogika, učitelství a sociální péče
1      NaN              1                         Obecná příprava
2      NaN              1                         Obecná příprava
3      NaN              1                         Obecná příprava
4      NaN              1                         Obecná příprava

                                     stupen_vzdelani
0  Úplné střední odborné vzdělání s maturitou (be...
1  Úplné střední všeobecné vzdělání (poskytují gy...
2  Úplné střední všeobecné vzdělání (poskytují gy...
3  Úplné střední všeobecné vzdělání (poskytují gy...
4  Úplné střední všeobecné vzdělání (poskytují gy...

[5 rows x 32 columns]

In [65]:
roky = data["ROK_PR"] - data["MATURITA"]

print(roky.describe())
print(roky.value_counts())

count    4932.000000
mean        3.456407
std         5.994955
min        -2.000000
25%         0.000000
50%         1.000000
75%         4.000000
max        40.000000
dtype: float64
 0     2010
 1      766
 3      360
 2      324
 4      302
 5      273
 6      150
 7       98
 10      63
 8       59
 9       51
 12      41
 11      39
 14      32
 13      29
 15      27
 16      26
 21      26
 23      22
 18      21
 20      21
 22      21
 24      19
-1       19
 19      17
 17      16
 27      13
 33      13
 28      10
 25      10
 29      10
 26       9
 30       7
 31       5
 39       5
-2        3
 34       3
 37       3
 32       3
 36       2
 40       2
 38       1
 35       1
Name: count, dtype: int64

In [66]:
print(data.columns)

Index(['FAKULTA_SP', 'ROK_NAR', 'STAT_OBCANSTVI', 'PSC_BYDL', 'PSC_CIZI',
       'OBEC_BYDLISTE', 'OBEC_CIZI', 'STAT_BYDLISTE', 'NAZEV_S_SKOLY',
       'STAT_S_SKOLY', 'ADRESA_S_SKOLY', 'CIS_OBORU', 'MATURITA',
       'STRED_SKOLA_CIZI', 'STRED_SKOLA_CIZI_MISTO', 'STRED_SKOLA_CIZI_OBOR',
       'VS_SKOLA', 'NAZEV_VS', 'STAT_VS', 'VS_ROK_ABSOL', 'ROK_PR', 'CISP_KOD',
       'CZ_NAZEV', 'FORMA', 'TYP', 'PR_NAZEV', 'PR_OBOR', 'PR_KOMBINACE',
       'SDRUZENE', 'KOLO_PRIHLASKY', 'skupina_oboru', 'stupen_vzdelani'],
      dtype='object')

In [67]:
rok = 2021
staty = data.loc[(data["STAT_OBCANSTVI"] != "Česká republika") & (data["ROK_PR"] == rok)]
staty_counts = staty["STAT_OBCANSTVI"].value_counts()
obory_counts = staty["PR_NAZEV"].value_counts()

print(obory_counts)

# staty

PR_NAZEV
API          10
CHETOX        8
GEO           7
BI PS         6
NANO          6
PMVT          4
MFVS          3
N APIK        2
APIK          2
BI CHE pv     1
MA INFKSŠ     1
FY            1
BI KS         1
PMVT K        1
BI CHEpvK     1
GEO ZHS       1
CHETOXK       1
MA INFpvK     1
INF MApvK     1
INF MA pv     1
CHE BIpvK     1
N API         1
Name: count, dtype: int64

In [68]:
orig_data = pd.read_csv('data/prf_uchazeci.csv')

rok = 2021
staty = data.loc[(data["STAT_OBCANSTVI"] != "Česká republika") & (data["ROK_PR"] == rok)]

staty

,FAKULTA_SP,ROK_NAR,STAT_OBCANSTVI,PSC_BYDL,PSC_CIZI,OBEC_BYDLISTE,OBEC_CIZI,STAT_BYDLISTE,NAZEV_S_SKOLY,STAT_S_SKOLY,...,CZ_NAZEV,FORMA,TYP,PR_NAZEV,PR_OBOR,PR_KOMBINACE,SDRUZENE,KOLO_PRIHLASKY,skupina_oboru,stupen_vzdelani
1683,PRF,2002.0,Ruská federace,0,NaN,nevyplněno,NaN,Česká republika,Zahraniční školy-Ruská federace,Ruská federace,...,Biologie pro vzdělávání,P,B,BI CHE pv,NaN,BI CHE pv,ANO,1,NaN,NaN
1701,PRF,1997.0,Slovenská republika,0,NaN,nevyplněno,NaN,Česká republika,"Gymn., SOŠ a Střední zdravot. škola",Česká republika,...,Biologie pro vzdělávání,K,B,BI CHEpvK,NaN,BI CHE pv KS,ANO,2,Obecná příprava,Úplné střední všeobecné vzdělání (poskytují gy...
1749,PRF,1993.0,Peruánská republika,0,NaN,nevyplněno,NaN,Česká republika,Zahraniční školy-Peruánská republika,Peruánská republika,...,Chemie pro vzdělávání,K,B,CHE BIpvK,NaN,CHE BI pv KS,ANO,2,NaN,NaN
1781,PRF,2002.0,Ukrajina,0,NaN,nevyplněno,NaN,Česká republika,Zahraniční školy-Ukrajina,Ukrajina,...,Informatika pro vzdělávání,P,B,INF MA pv,NaN,INF MAT pv,ANO,1,NaN,NaN
1786,PRF,2001.0,Ukrajina,0,NaN,nevyplněno,NaN,Česká republika,Zahraniční školy-Ukrajina,Ukrajina,...,Informatika pro vzdělávání,K,B,INF MApvK,NaN,INF MAT pv KS,ANO,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2452,PRF,2002.0,Ruská federace,0,NaN,nevyplněno,NaN,Česká republika,Zahraniční školy-Ruská federace,Ruská federace,...,Fyzika,P,B,FY,1701R003 - FY 1ob.,NaN,NaN,1,NaN,NaN
2494,PRF,1980.0,Ukrajina,0,NaN,nevyplněno,NaN,Česká republika,Zahraniční školy-Ukrajina,Česká republika,...,Učitelství matematiky pro střední školy,K,N,MA INFKSŠ,NaN,MATINF SŠ KS,ANO,2,NaN,NaN
2557,PRF,1984.0,Slovenská republika,0,NaN,nevyplněno,NaN,Česká republika,Střední průmyslová škola Ostrov,Česká republika,...,Aplikovaná informatika,K,N,N APIK,NaN,NaN,NaN,2,"Elektrotechnika, telekomunikační a výpočetní t...",Vyšší odborné vzdělání
2571,PRF,1998.0,Ukrajina,0,61072,nevyplněno,Charkiv,Ukrajina,Zahraniční školy-Ukrajina,Ukrajina,...,Aplikovaná informatika,K,N,N APIK,NaN,NaN,NaN,2,NaN,NaN
2580,PRF,1997.0,Běloruská republika,0,NaN,nevyplněno,NaN,Česká republika,Zahraniční školy-Běloruská republika,Běloruská republika,...,Aplikovaná informatika,P,N,N API,NaN,NaN,NaN,2,NaN,NaN

In [2]:
import pandas as pd
import re

def filter_nazev(cz_nazev, forma, typ, pr_nazev):
    if pd.isna(pr_nazev):
        return pr_nazev
    pr_nazev = pr_nazev.replace("SŠ", "").replace("ZŠ", "")
    if "pro vzdělávání" in cz_nazev:
        pr_nazev = pr_nazev.replace("pv", "").strip()
    if forma == "P":
        pr_nazev = re.sub('(^PS|PS$)', '', pr_nazev).strip()
        pr_nazev = re.sub('(^P|P$)', '', pr_nazev).strip()
    if forma == "K":
        pr_nazev = re.sub('(^KS|KS$)', '', pr_nazev).strip()
        pr_nazev = re.sub('(^K|K$)', '', pr_nazev).strip()
    if typ == "D":
        pr_nazev = re.sub('(^D|D$)', '', pr_nazev).strip()
    if typ == "N":
        pr_nazev = re.sub('(^N|N$)', '', pr_nazev).strip()
    # remove cz
    pr_nazev = re.sub('cz', '', pr_nazev, flags=re.IGNORECASE).strip()
    if pr_nazev == "ACHSTAM":
        pr_nazev = "ACH"

    return pr_nazev


data = pd.read_csv('data/uchazeci_transformed.csv')
data["PR_NAZEV"] = data.apply(lambda row: filter_nazev(row["CZ_NAZEV"], row["FORMA"], row["TYP"], row["PR_NAZEV"]), axis=1)

new_nazev = data["PR_NAZEV"].unique()

# FIXME: MVT (PMVT), ACHŽ (ACHŽP)

print(new_nazev)

['MA AJ' 'MA BI' 'MA GEO' 'MA HI' 'MA HV' 'MA SV' 'MA TV' 'MA VV'
 'MAT INF' 'MPV' 'GEO AJ' 'GEO HI' 'GEO INF' 'GEO NJ' 'GEO SV' 'GEO TV'
 'GEO' 'GSE' 'CHE AJ' 'CHE BI' 'CHE GEO' 'CHE INF' 'CHE MA' 'CHE NJ'
 'CHE TV' 'TOX' 'BI AJ' 'BI GEO' 'BI' 'BI TV' 'BI VV' 'FY BI' 'FY GEO'
 'FY CHE' 'FY MA' 'FY TV' 'FY' 'APM' 'NANO' 'INF AJ' 'INF ČJ' 'INF SV'
 'INF TV' 'IS' 'GEO OV' 'PMVT' 'CHETOX' 'MFVS' 'MA ČJ' 'MA NJ' 'GEO POL'
 'BI INF' 'BI NJ' 'FY INF' 'ACM' 'INF HI' 'INF HV' 'ACHŽ' 'MA OV' 'BI CHE'
 'BI MA' 'CHE FY' 'INF FY' 'INF GEO' 'INF MA' 'INF NJ' 'INF VV' 'INFCHE'
 'MA FY' 'MA CHE' 'MA INF' 'GEO BI' 'GEO CHE' 'GEO MA' 'GEO ZHS' 'MVT'
 'API' 'BIABi' 'BIEBu' 'APLT' 'GEOTR' 'BI FY' 'FY AJ' 'CHEINF' 'AIT'
 'INF CHE' 'ACH']

In [47]:
# MAIOR/MINOR

def mai_min(sdruzene, pr_nazev):
    # print(pd.isna(sdruzene))
    # if pd.isna(sdruzene) != True:
        # print(sdruzene, pr_nazev)
    try:
        okruh1, okruh2 = pr_nazev.split(" ")
        return okruh1, okruh2
    except Exception as e:
        return None, None
    # else:
    #     return None, None


# data["PR_NAZEV"].str.split(" ")

# data["OKRUH1"], data["OKRUH2"] = data["PR_NAZEV"].str.split(" ")[:2]
# data["OKRUH1"], data["OKRUH2"] = data["PR_NAZEV"].str.split(" ").str.slice(0, 2).str
# data["OKRUH1"] = data["PR_NAZEV"].str.split(" ").str[0]
# data["OKRUH1"], data["OKRUH2"] = data.apply(lambda row: mai_min(row["SDRUZENE"], row["PR_NAZEV"]), axis=1)
values = data.apply(lambda row: mai_min(row["SDRUZENE"], row["PR_NAZEV"]), axis=1)

data["OKRUH1"], data["OKRUH2"] = zip(*values)


# data["OKRUH1"].value_counts()
data["OKRUH2"].value_counts()



# for value in values:
#     if value[0] != None:
#         # print(len(value))
#         if len(value) != 2:
#             print(value)

OKRUH2
MA     210
TV     196
AJ     155
INF    134
CHE    130
FY     124
BI     119
GEO    113
HI      83
SV      76
NJ      38
VV      17
HV      12
ČJ       8
ZHS      4
OV       2
POL      1
Name: count, dtype: int64

In [51]:
# data.to_csv('data/uchazeci_transformed.csv', index=False)
data = pd.read_csv('data/uchazeci_transformed.csv')

data["OKRUH1"].value_counts()

OKRUH1
GEO    340
MA     295
BI     271
CHE    192
FY     185
INF    126
MAT     13
Name: count, dtype: int64

In [48]:
okruhy_df = data[["OKRUH1", "OKRUH2"]].dropna()

pivot_table = okruhy_df.pivot_table(index="OKRUH1", columns="OKRUH2", aggfunc=len, fill_value=0)

print(pivot_table)

OKRUH2  AJ  BI  CHE  FY  GEO  HI  HV  INF   MA  NJ  OV  POL  SV   TV  VV  ZHS  \
OKRUH1
BI      50   0   73   2   72   0   0    6    5  16   0    0   0   39   8    0
CHE     14  77    0  22    8   0   0    7   51   5   0    0   0    8   0    0
FY       2   9   40   0    3   0   0   22  104   0   0    0   0    5   0    0
GEO     47  17    3   0    0  69   0    7   15  11   1    1  55  110   0    4
INF     26   0    1  25    6   5   4    0   35   1   0    0   5   14   3    0
MA      16  16   13  75   24   9   8   79    0   5   1    0  16   20   6    0
MAT      0   0    0   0    0   0   0   13    0   0   0    0   0    0   0    0

OKRUH2  ČJ
OKRUH1
BI       0
CHE      0
FY       0
GEO      0
INF      1
MA       7
MAT      0